name: Update Map

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Python
        env:
          WEATHERAPI_KEY: ${{ secrets.WEATHERAPI_KEY }}
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Setup Env
        id: try_1
        run: |
          retries=3
          until_failure=0
          while [ $retries -gt 0 ]; do
            if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
            python exec_map.py
            if [ $? -eq 0 ]; then
              until_failure=0
              break
            else
              retries=$((retries - 1))
              until_failure=$((until_failure + 1))
              sleep 10 # Add a delay between retries 
            fi
          done
          if [ $until_failure -gt 0 ]; then
            echo "Failed after $until_failure attempts."
            exit 1
          fi

      - name: Git_Upload
        run: |
          git config --global user.email "michael-94@windowslive.com"
          git config --global user.name "mbolotis"
          git add map.html
          git commit -m "Update dynamic map"
          git push origin HEAD
