name: Update Map

on:
  schedule:
    - cron: '* * * * *'
    
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: 3.8
      - name: Setup Env
        run: |
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          python exec_map.py
      - name: Git_Upload
        run: |
          git config --global user.email "michael-94@windowslive.com"
          git config --global user.name "mbolotis"
          git add index.html
          git commit -m "Update map"
          git push origin HEAD
